*{
  box-sizing: border-box;
}
body{
  height: 300vh;
  margin: 0;

}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  color: inherit;
  text-decoration: none;
}
.page-header{
  background-color: white;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  box-shadow: 0 0 7px 1px lightgrey;
}
.list{
  text-align: center;

}
.list-item{
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
}
.list-link{
  display: block;
  position: relative;
  padding: 1em 2em;
  background-color: oldlace;
  transition: .5s;
}
.list-link:hover{
  background-color: orange;
}
.list-link::after{
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 0;
  height: 5px;
  background-color: blue;
  transition-property: width;
  transition-duration: 700ms;
  transition-timing-function: ease;
  transition-delay: .4s;
}
.list-link:hover::after{
  width: 100%;
  
}
.list-link::before{
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -7px;
  width: 0;
  height: 5px;
  background-color: blue;
  transition-property: width;
  transition-duration: 700ms;
  transition-timing-function: ease;
  transition-delay: .4s;
}
.list-link:hover::before{
  width: 100%;
  
}


































main{
  padding-top: 6em;
}




h1{
  width: 150px;
  margin: auto;
  position: relative;
  text-align: center;
}
h1::before,
h1::after{
  content: url(./../icons/flower-tulip.svg);
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  /* background-color: aqua; */
  color: white;
}
h1::before{
  top: 0;
  left: 0;
}
h1::after{
  top: 0;
  right: 0;
}